# === Archivos de entorno ===
.env                        

# === Configuración específica de IDEs ===
.vscode/
.idea/

# === Archivos generados por Python ===
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/               
.mypy_cache/                 
*.pyo                        

# === Archivos de distribución y construcción ===
build/
dist/
*.egg-info/
setup.py                     

# === Entornos virtuales de Python ===
venv/
env/
.venv/
env.bak/

# === Otros archivos específicos del sistema ===
*.log                        
*.bak                       
*.tmp                        
Thumbs.db                    
.DS_Store                    
cookies.json                 

# === Archivos relacionados con MongoDB ===
*.json                      
*.bson                      
mongo-dump/               
mongo-data/                 

# === Logs especiales (Frameworks, servidores, etc.) ===
*.uvicorn              
celerybeat-schedule        
*.pid                      